 /**************************Tag ELEMENTS***************/
body {
  color:#40514E;
  margin: 0;
  text-align: center;
  font-family: 'Merriweather', serif;
}
h1 {
 font-size: 50px;
 margin: 0;
 margin-top: 50px;
 font-family: 'Sacramento', cursive;
}
h2{
  font-size: 2.5rem;
  font-family: 'Montserrat', sans-serif;
    color:  #66BFBF;
}
h3 {
  font-family: 'Montserrat', sans-serif;
  color: #11999E;
}
a {
  margin:10px 20px;
  color: #11999E;
  text-decoration: none;
  font-family: 'Montserrat', sans-serif;
}
a:hover{
  color: #000000;
  font-family: 'Montserrat', sans-serif;
}
hr{
  border-style:none;
  border-top-style: dotted;
  border-color: #C8C8C8;
  border-width: 6px;
  width:4%;
  margin: 100px auto;
}
p {
  font-family: 'Montserrat', sans-serif;
}
/**************** CLASS ELEMENTS****************/
.topcontainer{
  background-color: #9ED2C6;
  padding-top: 100px;
  position: relative;
}
.middle-container{
margin: 100px 0;
}
.cloud-second {
  position:absolute;
  left: 300px;
  bottom: 300px;
}
.cloud-first {
  position: absolute;
  right: 300px;
  top: 50px;
}
.mainheading {
  color:  #319DA0;
}
.first {
  color:  #319DA0;
  font-weight: normal;
  font-family: 'Montserrat', sans-serif;
}
.skill-row {
  width:50%;
  margin: 100px auto 100px auto;
  text-align: left;
}
.third {
  line-height: 2;
}
.firstskillpic{
  float:left;
  margin-right: 30px;
}
.secondskillpic{
  float: right;
  margin-left: 30px;
}
.bottom-container{
  background-color: #66BFBF;
  padding: 50px 0 20px;
}
.fourth{
  margin-bottom: 60px;
}
.fifth{
  margin: 30px 0;
  color:#EAF6F6;
}
.second{
  width: 70%;
  margin: 0 auto 0 auto;
  font-family: 'Montserrat', sans-serif;
}
.BUTTON_JCU {
   background: #11CDD4;
   background-image: -webkit-linear-gradient(top, #11CDD4, #11999E);
   background-image: -moz-linear-gradient(top, #11CDD4, #11999E);
   background-image: -ms-linear-gradient(top, #11CDD4, #11999E);
   background-image: -o-linear-gradient(top, #11CDD4, #11999E);
   background-image: -webkit-gradient(to bottom, #11CDD4, #11999E);
   -webkit-border-radius: 8px;
   -moz-border-radius: 8px;
   border-radius: 8px;
   color: #FFFFFF;
   font-family: Arial;
   font-size: 20px;
   font-weight: 100;
   padding: 10px;
   text-decoration: none;
   display: inline-block;
   cursor: pointer;
   text-align: center;
}

.BUTTON_JCU:hover {
   border: solid #337FED 1px;
   background: #30E3CB;
   background-image: -webkit-linear-gradient(top, #30E3CB, #2BC4AD);
   background-image: -moz-linear-gradient(top, #30E3CB, #2BC4AD);
   background-image: -ms-linear-gradient(top, #30E3CB, #2BC4AD);
   background-image: -o-linear-gradient(top, #30E3CB, #2BC4AD);
   background-image: -webkit-gradient(to bottom, #30E3CB, #2BC4AD);
   -webkit-border-radius: 8px;
   -moz-border-radius: 8px;
   border-radius: 8px;
   text-decoration: none;
}
